[tool.poetry]
name = "jyablonski-kimball-example"
version = "0.0.1"
description = "Example Kimball Modeling Project"
authors = ["jyablonski9 <jyablonski9@gmail.com>"]
readme = "README.md"
package-mode = false

[tool.poetry.dependencies]
python = ">=3.11,<3.12"
elementary-data = "^0.12.1"
dbt-core = "^1.8.4"
dbt-postgres = "^1.8.2"
dbt-coverage = "^0.3.8"
dbt-snowflake = "^1.8.3"



[tool.poetry.group.dev.dependencies]
sqlfluff = "^2.3.2"
sqlfluff-templater-dbt = "^2.3.2"
ipykernel = "^6.29.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
