[tool.poetry]
name = "jyablonski-kimball-example"
version = "0.0.1"
description = "Example Kimball Modeling Project"
authors = ["jyablonski9 <jyablonski9@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
dbt-core = "^1.6.2"
dbt-postgres = "^1.6.2"
elementary-data = "^0.12.0"


[tool.poetry.group.dev.dependencies]
sqlfluff = "^2.3.2"
sqlfluff-templater-dbt = "^2.3.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
