name: dbt CI

on: 
  [pull_request]

env:
  S3_BUCKET: ${{ secrets.S3_BUCKET }}
  IAM_ROLE: ${{ secrets.IAM_ROLE }}
  AWS_REGION : "us-east-1"

permissions:
      id-token: write
      contents: read

jobs:
  test_pipeline:
    name: Test Pipeline
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Run Tests
        run: |
          make test
